<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>
<section>
    <form   class="title" method="PATCH">
        <h2>Retrieved Essay Collections</h2>
        <br>
        <br>
        <ul>
        <% for( var i = 0; i < essayCollections.length; i++) { %>
            <li class="essayCollections">
                <span><%= essayCollections[i].title %> </span>
                <br>
                <span><%= essayCollections[i].author %></span>
            </li>
            <br>
            <% } %>
            <br>
        </ul>
    </form>
</section>
<%- include('./partials/footer'); %>