<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>
<section>
    <form  class='title' method="PATCH">
        <h2>Retrieved Books</h2>
        <br>
        <br>
        <ul>
        <% for( var i = 0; i < Books.length; i++) { %>
            <li>
                <span><%= Books[i].title %> </span>
                <br>
                <span><%= Books[i].author %></span>
                <br>
                <span><%= Books[i].contents %></span>
            </li>
            <br>
            <% } %>
            <br>
        </ul>
    </form>
</section>
<%- include('./partials/footer'); %>