<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
<!-- <section> -->
    <form action="">
    <h1 class='purpleBox'>presentationPage</h1> 
  
    <div class="purpleBox">
        <ul class="Books">
          <H2>All Books</H2>
        <% if (Books.length > 0) { %>
            <% Books.forEach(book => { %>
                <a class="bookTitle" href='/Books/<%= book._id %>'>   
                <h4 id='title' ><%= book.title %></h4>
                </a>
                <p id='body'><%= book.author %></p>
                <p id='contents'><%= book.contents %></p>
                
                
                <% }) %>
            <% } else { %>
                <p>There are no books to display.</p>
            <% } %>        

        </ul>
    </div>
    <div class="purpleBox">
        <a href="/dashboard">Home</a>__
        <a href="/users/logout">Logout</a>
    </div> 
    </form>
<!-- </section> -->
<%- include('../partials/footer'); %>