<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
<!-- <section> -->
    <form  class='title' method="PATCH">
        <h2>Retrieved Books</h2>
        <br>
        <br>
        <ul>
            <H2>All Books</H2>
        <% for( var i = 0; i < Books.length; i++) { %>
            <li>
                <a class="bookTitle" href="/Books/<%= Books[i]._id %>">
                    <h4><span><%= Books[i].title %> </span></h4>
                </a>
                <br>
                <span><%= Books[i].author %></span>
                <br>
                <span><%= Books[i].contents %></span>
            </li>
            <br>
            <% } %>
            <br>
        </ul>
    </form>
<!-- </section> -->
<%- include('../partials/footer'); %>